<!DOCTYPE html>
<html lang="en">

<head>
    <title>pounces</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js' ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h2>New Pounce</h2>
        <form action="/new-pounce" method="post">
            <div class="span5 col-md-5" id="sandbox-container">
                <div class="input-group date">
                    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div
            <p>
                <label for="date">Date</label>
                <input type="date" id="pounced" name="pounced">
            </p>
            <br/>
            <label for="rating">Rating: </label>
            <input id="rating" type="text" name="rating" value="">
            <br/>
            <label for="placed">Bet: </label>
            <input id="placed" type="text" name="bet" value="">
            <br/>
            <label for="rating">Sport: </label>
            <input id="rating" type="text" name="sport" value="">
            <br/>
            <label for="placed">Pounced: </label>
            <input id="placed" type="text" name="pounced" value="">
            <br/>
            <label for="rating">Profit: </label>
            <input id="rating" type="text" name="profit" value="">
            <br/>
            <input type="submit" value="OK">            
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js' ></script>

    <script>

        $('#sandbox-container .input-group.date').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        });

    </script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script type="text/javascript">
    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>
</body>



</html>