{% extends "base.html" %} {% block content %}
<div class="bootstrap-iso">
    <div class="container-fluid">
        <br>
        <h2>Totals</h2>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <h4>All pounces</h4>
                <table class="table table-condensed table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, months in report['all'].items(): %} {% if months is mapping: %} {% for month, profit in months.items(): %} {%
                        if loop.index == 1: %}
                        <tr>
                            <td>{{ year }}</td>
                            <td>{{ month }}</td>
                            {% if "-" in profit: %}
                            <td class="text-danger" style="text-align: right">
                                {% else: %}
                                <td class="text-success" style="text-align: right">
                                    {% endif %} {{ ("£" + '%0.2f' % profit|float).replace('£-','-£') }}</td>
                        </tr>
                        {% else: %}
                        <tr>
                            <td></td>
                            <td>{{ month }}</td>
                            {% if "-" in profit: %}
                            <td class="text-danger" style="text-align: right">
                                {% else: %}
                                <td class="text-success" style="text-align: right">
                                    {% endif %} {{ ("£" + '%0.2f' % profit|float).replace('£-','-£') }}</td>
                        </tr>
                        {% endif %} {% endfor %} {% else: %}
                        <tr>
                            <td colspan="2">Total Profit</td>
                            {% if "-" in months: %}
                            <td class="text-danger" style="text-align: right">
                                {% else: %}
                                <td class="text-success" style="text-align: right">
                                    {% endif %} {{ ("£" + '%0.2f' % months|float).replace('£-','-£') }}</td>
                        </tr>
                        {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3">
                <h4>My pounces</h4>
                <table class="table table-condensed table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, months in report['mine'].items(): %} {% if months is mapping: %} {% for month, profit in months.items(): %}
                        {% if loop.index == 1: %}
                        <tr>
                            <td>{{ year }}</td>
                            <td>{{ month }}</td>
                            {% if "-" in profit: %}
                            <td class="text-danger" style="text-align: right">
                                {% else: %}
                                <td class="text-success" style="text-align: right">
                                    {% endif %} {{ ("£" + '%0.2f' % profit|float).replace('£-','-£') }}</td>
                        </tr>
                        {% else: %}
                        <tr>
                            <td></td>
                            <td>{{ month }}</td>
                            {% if "-" in profit: %}
                            <td class="text-danger" style="text-align: right">
                                {% else: %}
                                <td class="text-success" style="text-align: right">
                                    {% endif %} {{ ("£" + '%0.2f' % profit|float).replace('£-','-£') }}</td>
                        </tr>
                        {% endif %} {% endfor %} {% else: %}
                        <tr>
                            <td colspan="2">Total Profit</td>
                            {% if "-" in months: %}
                            <td class="text-danger" style="text-align: right">
                                {% else: %}
                                <td class="text-success" style="text-align: right">
                                    {% endif %} {{ ("£" + '%0.2f' % months|float).replace('£-','-£') }}</td>
                        </tr>
                        {% endif %} {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3">
                <h4>Rating totals</h4>
                <table class="table table-condensed table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Rating</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in report['rating']: %} 
                            {% for k, v in item.items(): %} 
                            <tr>
                                <td>{{ k }}</td>
                                {% if "-" in v: %}
                                    <td class="text-danger" style="text-align: right">
                                {% else: %}
                                    <td class="text-success" style="text-align: right">
                                {% endif %} {{ ("£" + '%0.2f' % v|float).replace('£-','-£') }}</td>
                            </tr>
                            {% endfor %} 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>

            <div class="col-sm-1">
            </div>
        </div>
 
        <h2>Tennis</h2>
    </div>
</div>

{% endblock %}